// Colors
$off-black: #26282F;
$off-white: #A5AFD7;
$dark-gray: #333745;
$gray: #3C4251;
$light-gray: #464B5E;
$dark-green: #007D51E0;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
